.search {
	position: relative;
	padding: 1rem;
	filter: drop-shadow(0 0 3.5px rgba(0, 0, 0, 0.2));
	background-color: $search;

	&_input {
		display: inline-block;
		position: relative;
		input {
			width: 680px;
			height: 20px;
			border: 1px solid #a9b2c9;
			border-radius: 20px;
			
			background-color: #ffffff;
			padding: 10px 45px 10px 15px;
			font-size: 16px;
			font-weight: 400;
			color: #c0cbda;

			&:focus {
				border: 1px solid $primary;
				filter: drop-shadow(0 0 3.5px rgba(0,140,240,0.15));
				//padding-left: 310px;
			}
		}
		button {
			width: 35px;
			height: 35px;
			background: none;
			border: none;
			position: absolute;
			top: 4px;
			right: 5px;
		}
		
	}

	&_filter {
		display: none;
		position: absolute;
		top: 35%;
		left: 25px;

		.filter_item {
			position: relative;
		}

		.btn-search {
			position: relative;
			padding: 4px 20px 4px 15px;
			margin: 0 3px;
			border-radius: 11px;
			background-color: #ecf3f7;
			font-size: 12px;
			font-weight: 400;
			color: #9490a3;
		}
		.close {
			position: absolute;
			right: 4px;
			top: 5px;
			width: 3px;
			height: 3px;
			opacity: 0.3;
		}
		.close:hover {
			opacity: 1;
		}
		.close:before,
		.close:after {
			position: absolute;
			left: 0;
			content: " ";
			height: 9px;
			width: 1px;
			background-color: #333;
		}
		.close:before {
			transform: rotate(45deg);
		}
		.close:after {
			transform: rotate(-45deg);
		}
	}
}


